* {
	margin:0;
	padding:0;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

*:focus{
    outline:0;
}

.prototype {
    display: none;
}

body {
    background-image:url("../images/seamless_bg.png");
}

h1 {
    font-size:48px;
    color:white;
    text-align: center;
    margin-top:15px;
    margin-bottom: 25px;
    font-family: Lucida Console;
}

#engine-container {
    margin:auto;
    width:800px;

    border:1px solid black;

    -moz-box-shadow:    1px 1px 1px 1px #000;
    -webkit-box-shadow: 1px 1px 1px 1px #000;
    box-shadow:         1px 1px 1px 1px #000;
}